.main-nav {
  background-color: #0f0f0f;
  color: #f0f0f0;
  min-height: 3em;
  line-height: 3em;
  text-align: center;
}

.link {
  color: #f0f0f0;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 125%;
}

.link:hover {
  color: #055cff;
  background-color: #b9b9b9;
}
